
<div class="container">
    <h1 class="text-center">Tableau des pays</h1>
        <table class="table table-hover table-sm text-center">
        <thead>
            <tr>
                <th>Nom du pays</th>
            </tr>
        </thead>
        <% @countries.each do |country| %>
        <tbody>
            <tr>
                <td><%= country.country_name%></td>
            </tr>
        </tbody>
        <%end%>
    </table>
</div>