<div class="container">
    <div class="landing">
        <h1 class='text-center'>
            Bienvenue
        </h1>
        <div class="btn-landing">
            <%= link_to 'Listes des Pays', country_index_path,class: 'btn bg-purple '  %>
        </div>
    </div>
</div>








<!--
<p>
    <%= link_to 'Data Embassies', embassy_index_path,class: 'btn btn-success' %>
</p>
-->